* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $dark;
}

a {
  text-decoration: none;
}

b {
  font-weight: inherit;
}

ul {
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
button,
input,
label,
select {
  border: none;
  border-style: none;
  background-color: transparent;
  outline: none;
  color: inherit;
  cursor: pointer;
}
